<header>
            <div id="pagehead">
                <a href="/"><img src="/images/eea-print-logo.gif" alt="Logo" id="logo" /></a>
                <div id="networktitle">Eionet</div>
                <div id="sitetitle">Eionet Central Authentication Service</div>
                <div id="sitetagline"></div>
                <a class="skiplink" href="#workarea" accesskey="2">Skip over navigation</a>
            </div>

        <div id="menuribbon">
          <ul id="dropdowns" th:include="dropdownmenus :: [/ul]">
            <li>
              <a href="http://www.eionet.europa.eu/menuservices">Services</a>
              <ul>
                <li>
                  <a href="http://www.eionet.europa.eu/helpdesk">Helpdesk</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="http://www.eionet.europa.eu/menureportnet">Reportnet</a>
              <ul>
                <li>
                  <a href="http://cdr.eionet.europa.eu/">CDR Repository</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

            <div class="breadcrumbtrail">
                <div class="breadcrumbhead">You are here:</div>
                <div class="breadcrumbitem eionetaccronym">
                    <a href="http://www.eionet.europa.eu">Eionet</a>
                </div>
                <div class="breadcrumbitemlast">Sign-on</div>
                <div class="breadcrumbtail"></div>
            </div>


            <div id="leftcolumn" class="localnav">
                 <h2>Operations</h2>
                    <ul>
                        <li><a href="login" title="Login">Login </a></li>
                        <li><a href="logout" title="Logout">Logout </a></li>
                    </ul>

        <h2>Account services</h2>
        <ul>
            <li>I have <a href="https://www.eionet.europa.eu/password-reset">lost my password</a></li>
        </ul>

            </div>
</header>
